body{
    font-family: Arial;
    background-color: hsl(180, 80%, 84%);
}

h1{
    color: rgba(0, 0, 0, 0.612);
    font-size: 3em;
    text-align: center;
}

form{
    background-color: white;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.396);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

input{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border: 2px solid rgba(0, 0, 0, 0.264);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button{
    background-color: rgb(244, 177, 219);
    font-size: 1.5em;
    color: rgb(46, 45, 45);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(212, 131, 182);
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.396);
    color: white;
}

#total{
    font-size: 1.5em;
}

#total-amount{
    color: rgb(85, 82, 82);
    font-weight: bold;
}